#logo img{
    height:45px;
    width:auto;
    margin: 0 5px;
}
#navbar{
    padding-top:5px;
    min-height: 50px;
    max-height: 50px;
    height:12vh;
    width:auto;
    text-align: center;
    align-items: center;
    position: relative;
}

.nav-item{
    display: inline-block;
    height:50px;
}
.login-button {
    background-color: #007BFF;
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;

}

.login-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.login-button:active {
    background-color: #004080;
    transform: translateY(0);
}

.right{
    float:right;
    padding-right: 10px;
}
.left{
    float:left;
    padding-left: 10px;
}
a{
    text-decoration: none;
}