{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="{% static 'login/images/logo.png' %}" type="logo">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/body.css' %}">
</head>
<body>
    <nav>
        <div id="navbar">
            <div id="logo" class="nav-item left">
            <a href="index.html">
                <img src="{% static 'login/images/logo.png' %}" alt="logo">
            </a>
            </div>
            <div id="regRest" class="nav-item">
                <a href="{% url 'registerRestaurant' %}"><button class="login-button">Work with us!</button></a>
            </div>
            <div id="login" class="nav-item right">
                <a href="{% url 'login' %}"><button class="login-button">Login</button></a>
            </div>
        </div>
     </nav>

    <div class="login-wrapper">
        <div class="container">
            <h2>Login Restaurant</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            
         </div>
    </div>

    <footer class="footer">
        <div>
            <p>&copy; 2024 GoodFood. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
