{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodFood</title>
    <link rel="icon" href="{% static 'login/images/logo.png' %}" type="logo">
    <link rel="stylesheet" href="{% static 'login/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/body.css' %}">

</head>
<body>
    <nav>
        <div id="navbar">
            <div id="logo" class="nav-item left">
            <a href="{% url 'index' %}">
                <img src="{% static 'login/images/logo.png' %}" alt="logo">
            </a>
            </div>
            <div id="login" class="nav-item right">
                <a href="{% url 'login' %}"><button class="login-button">Login</button></a>
            </div>
        </div>
     </nav>

    <div class="register-wrapper">
        <div class="container">
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                <label for="user_type">I am a:</label>
                <select id="user_type" name="user_type" onchange="showForm()">
                    <option value="client">Client</option>
                    <option value="restaurant">Restaurant</option>
                </select>
                <div id="form_container">
                    {{ form.as_p }}
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

    <script>
        function showForm() {
            var userType = document.getElementById('user_type').value;
            var formContainer = document.getElementById('form_container');
    
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_form/?user_type=' + userType, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    formContainer.innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        }
    </script>

    <footer class="footer">
        <div>
            <p>&copy; GoodFood. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
